name: My GitHub Actions 
on: [push, pull_request]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install -r requirements.txt
      - run: pytest module_30_ci_linters/homework/hw1/tests/tests_app.py
      - run: black --diff --check module_30_ci_linters/homework/hw1/main
      - run: isort --check-only --diff module_30_ci_linters/homework/hw1/main
      - run: mypy module_30_ci_linters/homework/hw1/main
      - run: flake8 module_30_ci_linters/homework/hw1/main
